<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit user')" />
<body>

<div th:replace="fragments/menu :: menu(${path})" />

<div class="container">
    <!--/*@thymesVar id="userModel" type="com.homework.first.model"*/-->
    <form method="post" th:action="@{/api/users/{id}/edit(id=${user.id})}" th:object="${userModel}" class="form-horizontal col-md-9 col-lg-6" enctype="multipart/form-data">
        <h3>Edit post</h3>

        <div class="form-group row">
            <label th:text="#{lbl.id}" class="col-sm-2 col-form-label"> Id </label>
            <div class="col-sm-10">
                <input type="text" th:placeholder="${user.id}" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.first}" class="col-sm-2 col-form-label"> First Name </label>
            <div class="col-sm-10">
                <input type="text" name="firstName" th:placeholder="${user.firstName}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.second}" class="col-sm-2 col-form-label"> Second Name </label>
            <div class="col-sm-10">
                <input type="text" name="secondName" th:placeholder="${user.secondName}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.content}" class="col-sm-2 col-form-label"> Email </label>
            <div class="col-sm-10">
                <input type="text" name="email" th:placeholder="${user.email}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.password}" class="col-sm-2 col-form-label"> Password </label>
            <div class="col-sm-10">
                <input type="text" name="password" th:placeholder="${user.password}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.role}" class="col-sm-2 col-form-label"> Role </label>
            <div class="col-sm-10">
                <input type="text" th:placeholder="${user.role}" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="submit" name="submit" value="submit">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
                <a th:href="${'/api/users'}" class="btn btn-secondary" id="cancel">Cancel</a>
            </div>
        </div>

    </form>
</div>

<div th:replace="fragments/foot :: foot" />

</body>
</html>