<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Add user')" />
<body>

<div th:replace="fragments/menu :: menu(${path})" />

<div class="container">
    <!--/*@thymesVar id="postModel" type="com.homework.first.model"*/-->
    <form method="post" th:action="@{/api/users/user-form}" th:object="${userModel}" class="form-horizontal col-md-9 col-lg-6" enctype="multipart/form-data">
        <h3>Edit user</h3>

        <div class="form-group row">
            <label th:text="#{lbl.id}" class="col-sm-2 col-form-label"> Id </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.first}" class="col-sm-2 col-form-label"> First </label>
            <div class="col-sm-10">
                <input type="text" name="firstName" th:placeholder="First" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.second}" class="col-sm-2 col-form-label"> Second </label>
            <div class="col-sm-10">
                <input type="text" name="secondName" th:placeholder="Second" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.email}" class="col-sm-2 col-form-label"> Email </label>
            <div class="col-sm-10">
                <input type="text" name="email" th:placeholder="Email" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label th:text="#{lbl.role}" class="col-sm-2 col-form-label"> Role </label>
            <div class="col-sm-10">
                <input type="text" name="role" th:placeholder="Role" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="submit" name="submit" value="submit">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
                <a th:href="${'/api/users'}" class="btn btn-secondary" id="cancel">Cancel</a>
            </div>
        </div>

    </form>
</div>

<div th:replace="fragments/foot :: foot" />

</body>
</html>